* {
    box-sizing: border-box;
    padding: 5;
    margin:2;
}

body {
     background-color: beige;
}

header{
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(30, 43, 87);
    color: beige;
}

header h1 {
display: inline-block;
margin: 4px;
font-size: 50px;
}

header section {
    padding-top: 12px;
    margin-right: 17px;
    float: right;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

header section ul {
    list-style-type: none;
}

header section ul li {
    display:inline-block;
    margin-left: 25px
}

a {
    color: beige;
    text-decoration: none;
}

.backdrop {
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url(../Portfolio-Challenge/images/img_1.webp);
    background-size: cover;
    background-position: right ;
}
